# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.obj
*.dup
*.aip
.vs/*
_BUILD/*

/src/TranslateToolkit/.vs/*
/src/TranslateToolkit/msi/*
/src/TranslateToolkit/_BUILD/*
/src/TranslateToolkit-*
/src/TranslateToolkit/AnotherTranslateToolkit-*
test.xlf
test.rc
testxRU.rc
testxEN.po
